<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="EngineIoClientDotNet.Tests.monoandroid22.UnitTestApp">
	<uses-sdk />
	<application android:label="EngineIoClientDotNet.Tests.monoandroid22.UnitTestApp">
	</application>
</manifest>